extends common.pug

block head
  title= title
  link(rel="stylesheet", href="css/books.css")

block content
  .container.my-3
    .search-form
      i.fal.fa-search.search-form__icon
      input.search-form__input(type='text', placeholder='Search')

    .books
      .book.card
        img.card-img-top(src="https://via.placeholder.com/150")
        .card-body
          h5.card-title Card title
          p.card-text Lorem ipsum dolor sit amet consectetur.
          a.btn.btn-primary Read
      .book.card
        img.card-img-top(src="https://via.placeholder.com/150")
        .card-body
          h5.card-title Card title
          p.card-text Lorem ipsum dolor sit amet consectetur.
          a.btn.btn-primary Read
      .book.card
        img.card-img-top(src="https://via.placeholder.com/150")
        .card-body
          h5.card-title Card title
          p.card-text Lorem ipsum dolor sit amet consectetur.
          a.btn.btn-primary Read
      .book.card
        img.card-img-top(src="https://via.placeholder.com/150")
        .card-body
          h5.card-title Card title
          p.card-text Lorem ipsum dolor sit amet consectetur.
          a.btn.btn-primary Read
      .book.card
        img.card-img-top(src="https://via.placeholder.com/150")
        .card-body
          h5.card-title Card title
          p.card-text Lorem ipsum dolor sit amet consectetur.
          a.btn.btn-primary Read
      .book.card
        img.card-img-top(src="https://via.placeholder.com/150")
        .card-body
          h5.card-title Card title
          p.card-text Lorem ipsum dolor sit amet consectetur.
          a.btn.btn-primary Read
