extends common.pug

block head
  title= title
  link(rel="stylesheet", href="css/books.css")

block content
  .container.my-3
    .search-form
      i.fal.fa-search.search-form__icon
      input.search-form__input(type='text', placeholder='Search')

    .books
      each book in listBook
        .book.card
          img.card-img-top(src=book.image)
          .card-body.d-flex-column
            h5.card-title= book.title
            p.card-text= book.description
            a.justify-self-end.btn.btn-primary(href="books/" + book.id) Read
        

  script(src="js/books.js")