extends common.pug

block head
  title= title
  link(rel="stylesheet", href="/css/change_password.css")

block content
  form.change__password-form(autocomplete="off", method="POST")
    .input-icon
      input(type='password', name='currentPassword', placeholder='Current Password')
      i.fa.fa-eye.show-password
    .input-icon
      input(type='password', name='newPassword', placeholder='New Password')
      i.fa.fa-eye.show-password
    .input-icon
      input(type='password', name='retypeNewPassword', placeholder='Re-type New Password')
      i.fa.fa-eye.show-password
    p.login 
      a(href="/forgot") Forgot your password? &nbsp;
    small
      ul
        if errors
          each err in errors
            li= err
    button Save Changes
