extends common.pug

block head
  title= title
  link(rel="stylesheet", href="css/forgot.css")

block content
  form.forgot-form(autocomplete="off", method="POST")
    input(type="email", name="email", placeholder="Email")
    if message
      small= message
    button Send
