extends common.pug

block head
	title= title
	link(rel="stylesheet", href="css/login.css")

block content
	form.login-form(autocomplete="off", method="POST")
		input(type="email", name="email", placeholder="Email")
		.input-icon
			input(type='password', name='password', placeholder='Password')
			i.fa.fa-eye.show-password
		a.forgot(href='#') Forgot password?
		a.register(href="/register") Register
		//- button(class="disable__email, disable__password") Sign in
		button Sign In

	script(src="js/login.js")