html
	head
		title= title
		link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css", integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p', crossorigin='anonymous')
		link(rel="stylesheet", href="css/login.css")
	
	body
		form.login-form(autocomplate="off", action="#" method="POST")
			input(type="email", name="email", placeholder="Email")
			.input-icon
				input(type='password', name='password', placeholder='Password')
				i.fa.fa-eye.show-password
			a.forgot(href='#') Forgot password?
			button Sign in

		script(src="js/login.js")