extends common.pug

block head
  title= title
  link(rel="stylesheet", href="/css/register.css")

block content
  form.register-form(autocomplete="off", method="POST")
    input(type="email", name="email", placeholder="Email")
    .input-icon
      input(type='password', name='password', placeholder='Password')
      i.fa.fa-eye.show-password
    .input-icon
      input(type='password', name='confirmPassword', placeholder='Confirm Password')
      i.fa.fa-eye.show-password
    small
      ul
        if messages
          each mes in messages
            li= mes
    //- button(class="disable__email disable__password disable__confirmPassword") Register
    button Register
    p.login You have account? &nbsp;
      a(href="/login") Login

  script(src="js/register.js")