.search-form {
  border: 1px solid #eaa;
  border-radius: 4px;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.search-form__icon {
  color: #999;
  flex-shrink: 0;
}
.search-form__input {
  padding: 0 1.5rem;
  flex: 1;
}

.books {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books .book {
  flex-basis: 20%;
  margin: 2.5%;
}
