@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
:root {
  --primary: #08aeea;
  --secondary: #13d2b8;
  --purple: #bd93f9;
  --pink: #ff6bcb;
  --blue: #8be9fd;
  --gray: #333;
  --font: "Poppins", sans-serif;
  --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
  --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 90%;
  /* font-size: 62.5%; */
}

body {
  font-family: var(--font);
  font-size: 1.4rem;
  overflow-x: hidden;
  font-weight: 300;
}
