.forgot-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 35rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.forgot-form input {
  padding: 1rem;
  border: 1px solid #eee;
  color: #333;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  display: block;
  width: 100%;
  transition: border 0.25s linear;
  font-weight: normal;
}

.forgot-form input:focus {
  border-color: var(--primary);
}

.forgot-form button {
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  color: white;
  background-color: var(--primary);
  text-transform: uppercase;
}
