.register-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 35rem;
  padding: 1.5rem;
}

.register-form input {
  padding: 1.5rem;
  border: 1px solid #eee;
  color: #333;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  display: block;
  width: 100%;
  transition: border 0.25s linear;
  font-weight: normal;
}

.register-form input:focus {
  border-color: var(--primary);
}

.register-form .forgot {
  display: inline-block;
  text-transform: uppercase;
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.register-form button {
  width: 100%;
  padding: 0.9rem;
  border-radius: 4px;
  color: white;
  background-color: var(--primary);
  text-transform: uppercase;
}

.register-form .input-icon {
  position: relative;
}

.register-form .input-icon input {
  padding-right: 4rem;
}

.register-form .input-icon i {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  color: #ccc;
  cursor: pointer;
}

.login {
  float: right;
  color: #000;
}

p.login a {
  color: #355;
}

p.login a:hover {
  color: #000;
}

.disable__email,
.disable__password,
.disable__confirmPassword {
  color: rgba(255, 255, 255, 0.87) !important;
  cursor: default;
  pointer-events: none;
}
